In [1]:
import pandas as pd
import numpy as np

In [2]:
column = ["S1","C1","S2","C2","S3","C3","S4","C4","S5","C5","Y"]
df = pd.read_csv('dataset/test.csv')
df.head()

   S1  C1  S2  C2  S3  C3  S4  C4  S5  C5  Y
0   1   1   1  13   2   4   2   3   1  12  0
1   3  12   3   2   3  11   4   5   2   5  1
2   1   9   4   6   1   4   3   2   3   9  1
3   1   4   3  13   2  13   2   1   3   6  1
4   3  10   2   7   1   2   2  11   4   9  0

In [3]:
X = df.iloc[:,2:-1].copy()
Y = df['Y']

In [4]:
from sklearn.preprocessing import OneHotEncoder
enc = OneHotEncoder(sparse=False)
enc.fit(X)
dum = enc.transform(X)

In [5]:
X=pd.DataFrame(dum)
X.shape

(1000000, 68)

In [6]:
#Splitting data
from sklearn import preprocessing
sc = preprocessing.MinMaxScaler()
X = sc.fit_transform(X)
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(X,Y,test_size=.3)

In [7]:
#Decision tree classifier
from sklearn.tree import DecisionTreeClassifier
clf = DecisionTreeClassifier(random_state=0)
clf.fit(x_train,y_train)
pred = clf.predict(x_test)
print(clf.score(x_test,y_test))

0.57395

In [8]:
#Random forest classification with 100 estimators 
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier(n_estimators=100,random_state=0)
clf.fit(x_train,y_train)
pred = clf.predict(x_test)
print(clf.score(x_test,y_test))

0.7344833333333334

In [9]:
#cross_validation
from sklearn.model_selection import cross_val_score
cross_val_score(clf,X,Y,cv=3)

array([0.73623911, 0.73547853, 0.73305433])